<div class="container">
  <h2>Clases disponibles</h2>

  <section class="classes">

    @if ($classList().length > 0) {
      <ul class="class-list">
        @for (classItem of $classList(); track classItem.id) {
          <li class="class-card">
            <div>
              <h3>{{ classItem.className }}</h3>
              <p>{{ classItem.instructor }}</p>
            </div>

            <button
              type="button"
              class="btn btn-primary"
              (click)="showClassDetails(classItem.id)">
              Ver detalles
            </button>
          </li>
        }
      </ul>
    } @else {
      <p class="empty-message">No hay clases disponibles.</p>
    }
  </section>

  @if ($classSelected()) {
    <app-class-detail [classItem]="$classSelected()" (reserveClass)="openModalReserveClass($event)"></app-class-detail>
    @if ($modalReserveClass()) {
      <div class="modal">
        <div class="modal-content">
          <h3>Reserva de clase</h3>
          <p>¿Estás seguro de que deseas reservar esta clase?</p>
          <button
            type="button"
            class="btn btn-success"
            (click)="reserveClass($classSelected()!)">
            Confirmar reserva
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="$modalReserveClass.set(false)">
            Cancelar
          </button>
        </div>
      </div>
    }
  }
</div>

<app-feedback-modal
  [isOpen]="showModal"
  [title]="modalTitle"
  [message]="modalMessage"
  [type]="modalType"
  (close)="closeFeedbackModal()">
</app-feedback-modal>
